.kaitify {
  span[kaitify-math] {
    display: inline-block;
    padding: var(--kaitify-small-padding) var(--kaitify-padding);
    border-radius: var(--kaitify-border-radius);
    margin: 0 var(--kaitify-sides-between);
    transition: all 300ms;
    max-width: 100%;
    background: #f6f9ff;

    &:hover {
      cursor: pointer !important;
    }

    .katex,
    math {
      width: 100%;
      overflow: hidden;
    }
  }
}

:root[kaitify-dark] .kaitify span[kaitify-math] {
  background: #29292d;
}
