@backColor: #f1f2f3;
@darkBackColor: #2a2a2a;

.kaitify {
	kaitify-math {
		display: inline-flex;
		padding: 0 var(--kaitify-small-padding);
		border-radius: var(--kaitify-border-radius);
		transition: all 300ms;
		max-width: 100%;
		text-indent: 0;

		&:hover {
			background: fade(@backColor, 50%);
			cursor: default;
		}

		span.katex {
			overflow: hidden;
			font-size: 1.4em;
		}
	}

	&.kaitify-dark kaitify-math {
		&:hover {
			background: fade(@darkBackColor, 50%);
		}
	}
}
