/**
 * 这里是对highlight的主题样式的自定义设置
 */

.Kaitify pre {
	.kaitify-hljs-addition,
	.kaitify-hljs-meta,
	.kaitify-hljs-string,
	.kaitify-hljs-symbol,
	.kaitify-hljs-template-tag,
	.kaitify-hljs-template-variable,
	.kaitify-hljs-deletion,
	.kaitify-hljs-variable {
		color: #9283e7;
	}
	.kaitify-hljs-comment,
	.kaitify-hljs-quote {
		color: #979797;
	}
	.kaitify-hljs-bullet,
	.kaitify-hljs-link,
	.kaitify-hljs-number,
	.kaitify-hljs-regexp,
	.kaitify-hljs-attr,
	.kaitify-hljs-attribute {
		color: #40c886;
	}

	.kaitify-hljs-built_in,
	.kaitify-hljs-doctag,
	.kaitify-hljs-keyword,
	.kaitify-hljs-name,
	.kaitify-hljs-section,
	.kaitify-hljs-strong,
	.kaitify-hljs-tag,
	.kaitify-hljs-literal,
	.kaitify-hljs-type {
		color: #65a1ef;
	}

	.kaitify-hljs-title {
		color: #ec8e40;
	}

	.kaitify-hljs-selector-tag {
		color: #e54f4f;
	}

	.kaitify-hljs-selector-class {
		color: #f2a463;
	}

	.kaitify-hljs-selector-id {
		color: #3b9cc8;
	}
}
