.Kaitify {
  table {
    display: table;
    width: 100%;
    border: 1px solid var(--kaitify-border-color);
    border-collapse: collapse;
    margin: 0 0 var(--kaitify-large-margin) 0;

    td {
      border: 1px solid var(--kaitify-border-color);
      padding: var(--kaitify-padding);
      vertical-align: middle;
      max-width: 100%;
      min-width: 50px;
    }

    tr:first-child {
      background: #f1f2f3;

      td {
        font-weight: bold;
      }
    }

    tr:nth-child(2n + 3) {
      background: fade(#f1f2f3, 20);
    }
  }

  //非编辑状态下
  &:not([contenteditable='true']) {
    table {
      tr:not(:first-child) {
        transition: background 300ms;

        &:hover {
          background: fade(#f1f2f3, 50);
        }
      }
    }
  }
}

:root[kaitify-dark] .Kaitify {
  table {
    tr:first-child {
      background: #2a2a2a;

      td {
        font-weight: bold;
      }
    }

    tr:nth-child(2n + 3) {
      background: fade(#2a2a2a, 20);
    }
  }

  //非编辑状态下
  &:not([contenteditable='true']) {
    table {
      tr:not(:first-child) {
        transition: background 300ms;

        &:hover {
          background: fade(#2a2a2a, 50);
        }
      }
    }
  }
}
