.Kaitify {
  span[kaitify-attachment] {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 var(--kaitify-sides-between);
    color: #06c27c;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 25px;

    &:hover {
      cursor: pointer !important;
    }
  }

  //非编辑状态下
  &:not([contenteditable='true']) {
    span[kaitify-attachment]:hover {
      text-decoration: underline;
    }
  }
}
