@color: #06c27c;

.kaitify {
	kaitify-attachment {
		display: inline-block;

		::selection {
			background: none;
		}

		& > span {
			display: inline-block;
			padding: 0 var(--kaitify-sides-between);
			color: @color;
			font-size: var(--kaitify-font-size);
			line-height: var(--kaitify-line-height);

			&:hover {
				cursor: default;
			}

			& > span[is-icon] {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				vertical-align: bottom;
				margin-right: var(--kaitify-sides-between);
			}
		}
	}

	//非编辑状态下
	&:not([contenteditable='true']) {
		kaitify-attachment > span:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
