.Kaitify blockquote {
  line-height: var(--kaitify-line-height);
  margin: 0 0 var(--kaitify-large-margin) 0 !important;
  padding: 0 0 0 var(--kaitify-large-padding);
  border-left: 6px solid fade(#000, 10);
  color: #666;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

:root[kaitify-dark] .Kaitify blockquote {
  color: fade(#fff, 90);
  border-left-color: fade(#fff, 30);
}
