@import url(./var.less);

.Kaitify {
	display: block;
	position: relative;
	font-size: @font-size;
	font-family: @font-family;
	color: @color;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	line-height: @line-height;
	border: 1px solid @border-color;
	border-radius: @border-radius;
	background: @background;
	padding: @padding;
	transition: border-color 500ms;
	overflow-x: hidden;
	overflow-y: auto;

	::selection {
		background-color: fade(@theme, 40);
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
		outline: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote {
		line-height: @line-height;
		margin: 0 0 @margin 0 !important;

		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	h1 {
		font-size: @font-size-heading-1;
		font-weight: bold;
	}
	h2 {
		font-size: @font-size-heading-2;
		font-weight: bold;
	}
	h3 {
		font-size: @font-size-heading-3;
		font-weight: bold;
	}
	h4 {
		font-size: @font-size-heading-4;
		font-weight: bold;
	}
	h5 {
		font-size: @font-size-heading-5;
		font-weight: bold;
	}
	h6 {
		font-size: @font-size-heading-6;
		font-weight: bold;
	}

	blockquote {
		padding: 0 0 0 @padding * 2;
		border-left: 6px solid @border-color;
		color: @sub-color;
	}

	video,
	img {
		display: inline-block;
		position: relative;
		width: auto;
		max-width: 100%;
		padding: 0 @sides-between;
	}

	code {
		display: inline-block;
		padding: @code-padding @code-padding * 2;
		margin: 0 @sides-between;
		border-radius: @border-radius;
		font-family: Consolas, monospace, Monaco, Andale Mono, Ubuntu Mono;
		background-color: @code-background;
		border: 1px solid @code-border-color;
	}

	hr {
		appearance: none;
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color: @hr-color;
		border: none;
		margin: @margin 0;
	}

	ol,
	ul {
		margin: 0 0 @margin 0;
		padding: 0;

		&:last-child {
			margin-bottom: 0 !important;
		}

		li {
			margin: 0 0 @margin 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	//待办列表
	div[kaitify-task] {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		margin: 0 0 @margin 0;
		padding: 0;
		width: 100%;

		&:last-child {
			margin-bottom: 0 !important;
		}

		&::before {
			position: relative;
			content: '';
			width: @task-size;
			height: @task-size;
			border: 1px solid @theme;
			border-radius: @border-radius;
			margin-right: @task-margin;
			cursor: pointer;
			user-select: none;
			touch-action: none;
		}

		&[kaitify-task='done'] {
			text-decoration: line-through;

			&::before {
				background: @theme;
			}

			&::after {
				content: '';
				position: absolute;
				left: 2px;
				top: 50%;
				width: 5px;
				height: 10px;
				margin-top: -2.5px;
				border: solid @theme;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg) translateY(-50%);
				border-color: @background;
				user-select: none;
				touch-action: none;
			}
		}
	}

	//数学公式
	span[kaitify-math] {
		display: inline-block;
		padding: @padding / 2 @padding;
		border-radius: @border-radius;
		margin: 0 @sides-between;
		transition: all 300ms;
		max-width: 100%;
		background: fade(@theme, 5);

		.katex {
			display: inline-block;
		}

		.katex,
		math {
			width: 100%;
			overflow: hidden;
		}

		&:hover {
			cursor: pointer !important;
			background: fade(@theme, 10) !important;
		}
	}

	//代码块
	pre {
		background: @codeblock-background;
		color: @codeblock-color;
		border-radius: @border-radius;
		padding: @padding;
		line-height: @line-height;
		font-family: Consolas, monospace, Monaco, Andale Mono, Ubuntu Mono;
		margin: 0 0 @margin 0 !important;

		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	table {
		width: 100%;
		border: 1px solid @border-color;
		border-collapse: collapse;
		margin: 0 0 @margin 0;

		th,
		td {
			border: 1px solid @border-color;
			padding: @padding;
		}
	}

	//编辑状态下才有的样式
	&[contenteditable='true'] {
		&:focus {
			border-color: @theme;
		}

		&[kaitify-placeholder].showPlaceholder::before {
			content: attr(kaitify-placeholder);
			position: absolute;
			left: 0;
			top: 0;
			padding: @padding;
			line-height: @line-height;
			opacity: 0.5;
		}
	}
}
