//主题色
@theme: #4bb4ba;
//字体颜色
@color: #333;
//副字体颜色
@sub-color: #666;
//边框颜色
@border-color: #dedede;
//背景色
@background: #fff;
//字体
@font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Hiragino KaKu Gothic Pro, Microsoft YaHei, Arial, sans-serif;
//行高
@line-height: 1.5;
//字号
@font-size: 14px;
//h1字号
@font-size-heading-1: 48px;
//h2字号
@font-size-heading-2: 36px;
//h3字号
@font-size-heading-3: 28px;
//h4字号
@font-size-heading-4: 24px;
//h5字号
@font-size-heading-5: 18px;
//h6字号
@font-size-heading-6: 16px;
//通用圆角大小
@border-radius: 3px;
//通用外边距
@margin: 15px;
//通用内边距大小
@padding: 10px;
//节点两侧和其他节点的间距
@sides-between: 2px;
//行内代码背景色
@code-background: #f3f4f5;
//行内代码边框颜色
@code-border-color: #e7e7e7;
//行内代码内边距
@code-padding: 2px;
//分隔线颜色
@hr-color: #ccc;
//待办复选框尺寸
@task-size: 16px;
//待办复选框右边距
@task-margin: 10px;
//代码块背景色
@codeblock-background: #000;
@codeblock-color: #fff;
