@theme: #308af3;

.kaitify {
  //主题色
  --kaitify-theme: @theme;
  //最浅主题色，通常用于悬浮效果
  --kaitify-lightest-theme: fade(@theme, 10);
  //更浅主题色，通常用于激活效果
  --kaitify-lighter-theme: fade(@theme, 20);
  //浅主题色，用于选区颜色
  --kaitify-light-theme: fade(@theme, 30);
  //字体颜色
  --kaitify-font-color: #505050;
  //边框颜色
  --kaitify-border-color: #dedede;
  //背景色
  --kaitify-background-color: #fff;
  //行高
  --kaitify-line-height: 1.5;
  //字号
  --kaitify-font-size: 14px;
  //通用圆角大小
  --kaitify-border-radius: 3px;
  //外边距
  --kaitify-margin: 10px;
  --kaitify-small-margin: 5px;
  --kaitify-large-margin: 15px;
  //内边距
  --kaitify-padding: 10px;
  --kaitify-small-padding: 5px;
  --kaitify-large-padding: 20px;
  //节点两侧和其他节点的间距
  --kaitify-sides-between: 2px;
  //字体
  --kaitify-font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Hiragino KaKu Gothic Pro, Microsoft YaHei, Arial, sans-serif;
}

.kaitify.kaitify-dark {
  //字体颜色
  --kaitify-font-color: #f5f5f5;
  //边框颜色
  --kaitify-border-color: #3b3b3b;
  //背景色
  --kaitify-background-color: #1b1b1f;
}
