.kaitify {
  hr {
    appearance: none;
    display: block;
    width: 100%;
    height: 1px;
    background: fade(#000, 10);
    border: none;
    margin: var(--kaitify-large-margin) 0;
  }

  &.kaitify-dark hr {
    background: fade(#fff, 10);
  }
}
