.Kaitify hr {
  appearance: none;
  display: block;
  width: 100%;
  height: 2px;
  background: fade(#000, 20);
  border: none;
  margin: var(--kaitify-large-margin) 0;
}

:root[kaitify-dark] .Kaitify hr {
  background: fade(#fff, 20);
}
