@import url(./var.less);

.kaitify {
  a {
    color: @color;
    text-decoration: none;
    pointer-events: none;

    &:hover {
      text-decoration: underline;
    }
  }

  //非编辑状态下
  &:not([contenteditable='true']) {
    a {
      pointer-events: all;
      transition: all 300ms;

      &:hover {
        cursor: pointer;
        color: fade(@color, 80);
      }
    }
  }
}
