.kaitify code {
  display: inline-block;
  padding: 2px 4px;
  margin: 0 var(--kaitify-sides-between);
  border-radius: var(--kaitify-border-radius);
  font-family: Consolas, monospace, Monaco, Andale Mono, Ubuntu Mono;
  background: #f6f9ff;
  border: 1px solid var(--kaitify-border-color);
  color: var(--kaitify-font-color);
}

:root[kaitify-dark] .kaitify code {
  background: #29292d;
}
