.Kaitify code {
  display: inline-block;
  padding: 2px 4px;
  margin: 0 var(--kaitify-sides-between);
  border-radius: var(--kaitify-border-radius);
  font-family: Consolas, monospace, Monaco, Andale Mono, Ubuntu Mono;
  background: #f3f4f5;
  border: 1px solid #e7e7e7;
  color: var(--kaitify-font-color);
}

:root[kaitify-dark] .Kaitify code {
  background: #333;
  border-color: #666;
}
